div {
    background-color: lightgrey;
  }
<<<<<<< HEAD

body>div {
    width: 30vw;
    height: 30vw;
    border: 10px solid grey;
    margin: 30%; 
}
div div:first-child {
    background-color: red;
    width: 15vw;
    height: 15vw;
}
div div:nth-child(2) {
    background-color: blue;
    width: 15vw;
    height: 15vw;
    margin: 0% 0% 0% 50%;
}
=======
>>>>>>> 3e4b8c4b3872241444d04ca466e550bf9a0f0ad9
.border1 {
    width: 30vw;
    height: 30vw;
    border: 10px solid grey;
    margin: 30%;
  }
  .border2 {
    background-color: red;
    width: 15vw;
    height: 15vw;
  }
  .border3 {
    background-color: blue;
    width: 15vw;
    height: 15vw;
    margin: 0% 0% 0% 50%;
  }