body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
  }
  h1 {
    text-align: center;
  }

  div {
    background-color: lightgrey;
  }

  .border1 {
    border: 2px solid #333;
    padding: 20px;
    margin: auto 35%;
  }
  .border2 {
    border: 4px dashed #333;
    padding: 20px;
    margin: 10px 0px 0px 50em;
  }
  .border3 {
    border-right: 10px double #333;
    border-bottom: 10px;
    padding: 0px 2px 0px 20px;
    margin: 0px 60% 10px 0px;
  }
  .border4 {
    border-top: 2px dashed #333;
    border-bottom: 2px dotted #333;
    padding: 20px;
    margin: 0px 10%;
  }